numpy==2.2.*

plotly
Flask
Flask-Cors
setuptools
wheel
cython
nibabel
scikit-image
templateflow
scipy
SQLAlchemy
Flask-SQLAlchemy
Flask-Migrate
psycopg2-binary
python-dotenv
redis

git+https://github.com/gallantlab/pycortex.git